header, footer {
    background-color: Chocolate;
    padding: auto;
    margin-bottom: auto;
    margin-top: auto;
    height: auto;
    
  }
  
  main {
    padding: 20px;
    background-color: silver;
  }
  
  .post {
    background-color: white;
    padding: 20px;
    margin: 3px;
    border-radius: 26px;
    margin-bottom: 20px;
    display: flex;
    
  }
  
  .post img {
    margin: 20px;
  }
  

  li:hover a{
    background-color: purple;
    color: white;
    border: 2px solid red;
    border-radius: 3px;
  }

  ul li{
    padding: 0;
    margin: 0;
  
  }
  
  ul{
    list-style: none;
    width: 100%;
  }
  
  li{
    float: left;
    width: auto;
  }
  
  a{
    text-decoration: none;
    color: black;
    display: block; 
    padding: 10px 25px;
    font: bold 12px sans-serif;

  }
  
  
    
   
  
  